<h1>Bookmarks Manager</h1>

<div>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark %></li>
    <% end %>
  </ul>
</div>

<div>
  <form action='/add_bookmark'>
    <input type='submit' value='New Bookmark'>
  </form>
</div>